

<mat-toolbar color="primary">
  <span>
    ECommerce Application
  </span>

  <span class="space-button"></span>

  @if (! loggedIn()){
    <button mat-raised-button color="primary" routerLink="/login">
      Login
    </button>
  }

  @if (loggedIn()) {
    <button mat-raised-button color="warn" (click)="logout()">
      Logout
    </button>
  }

<!-- 
  <button *ngIf="! loggedIn()" mat-raised-button color="primary" routerLink="/login">Login</button>
  <button *ngIf="loggedIn()" mat-raised-button color="warn"  (click)="logout()">Logout</button> -->

</mat-toolbar>

@if (loggedIn()) {
  <mat-toolbar color="primary">
    <button mat-raised-button="primary" routerLink="/">Home</button>
    <button *ngIf="isAdmin()" mat-raised-button="primary" routerLink="/addNewProduct" >Add New Product</button>
 </mat-toolbar>  
}

 

